
  <div class="map-container">

    <button (click)="goToDash()">Click</button>
    <div class="map-frame">
      <div id="map">
        <div class="leaflet-bottom leaflet-right">
            <button style="
            width: 42px;
            border-radius: 23px;
            height: 42px;
            background: #ffffffa3;
            cursor: pointer;
            margin-bottom: 20px;
            border: none;" value="Cancel" class=" span3 leaflet-control" (click)="getLocation()">
              <mat-icon style="color: blue;">location_searching</mat-icon>
            </button>
        </div>
      </div>
    </div>
  </div>