
<div class="form-wraper" style="text-align:left" style="margin: 3px;">
    <div class="form-container card" >
    <table style="width: 100%" >
      <tr>
        <td>Existancy Status </td><td>{{hhBuildingData.existancyStatus}}</td>
      </tr>
      <tr>
        <td>Use  </td><td>{{hhBuildingData.buildingUse}}</td>
      </tr>
      <tr>
        <td>Building Owner </td><td>{{hhBuildingData.nameOfBuildingOwner}}</td>
      </tr>
      <tr>
        <td>Contact Number </td><td>{{hhBuildingData.contactOwner}}</td>
      </tr>
      <tr>
        <td>Year of Construction </td><td>{{hhBuildingData.constructionYear}}</td>
      </tr>
      <tr>
        <td>Number of Floors  </td><td>{{hhBuildingData.floors}}</td>
      </tr>
      <tr>
        <td>Attic  </td><td>{{hhBuildingData.attic === 'true'?"Yes":"No"}}</td>
      </tr>
      <tr>
        <td>Basement  </td><td>{{hhBuildingData.basement === 'true'?"Yes":"No"}}</td>
      </tr>
      <tr>
        <td>Jamthog  </td><td>{{hhBuildingData.jamthog === 'true'?"Yes":"No"}}</td>
      </tr>
    </table>
    <p>
      Units : {{ hhUnitData.length }}
    </p>
    </div>
  </div>

  <div class="form-wraper" style="text-align:center">
    <h3>Update Building Details</h3>
    <div class="form-container card" >
      <div class="form-body">
            <!-- Start of Multi unit Form-->  
            <form [formGroup]="updateBuildingForm">
              <mat-form-field class="justifier">
                <mat-label>Existancy Status</mat-label>
                <mat-select name="existancyStatus" formControlName="existancyStatusControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of existancyStatus" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

                <mat-form-field class="justifier">
                    <mat-label>Year of Construction</mat-label>
                    <input matInput type="text" name="constructionYear" formControlName="constructionYearControl" required min="0" [readonly]="disableForm" required autofocus>
                </mat-form-field>

                <mat-form-field class="justifier">
                    <mat-label>Building Use</mat-label>
                    <mat-select name="buildingUse" formControlName="buildingUseControl"  [readonly]="disableForm" >
                      <mat-option *ngFor="let use of buildingUses" [value]="use.name">
                        {{use.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                
              <mat-form-field class="justifier">
                <mat-label>Building Height</mat-label>
                <mat-select name="buildingHeight" formControlName="buildingHeightControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let height of buildingHeight" [value]="height.name">
                    {{height.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Attic</mat-label>
                <mat-select name="attic" formControlName="atticControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo" [value]="option.name">
                    {{option.name == true? "Yes" : "No"}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Jamthog</mat-label>
                <mat-select name="jamthog" formControlName="jamthogControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo" [value]="option.name">
                    {{option.name == true? "Yes" : "No"}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Basement</mat-label>
                <mat-select name="basement" formControlName="basementControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo" [value]="option.name">
                    {{option.name == true? "Yes" : "No"}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
           
              <mat-form-field class="justifier">
                <mat-label>Facade as per BAG</mat-label>
                <mat-select name="facade" formControlName="facadeControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo2" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Boundary Wall</mat-label>
                <mat-select name="boundaryWall" formControlName="boundaryWallControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo2" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Balcony projection towards Primary Road</mat-label>
                <mat-select name="balconyProjection" formControlName="balconyProjectionControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo2" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <table style="text-align: left;color:lightslategray;">
                <tr>
                  <span>Building Colors for Thimphu Thromde (DCR 2016)</span>
                </tr>
                <tr>
                  <td>White</td><td style="border:solid 1px gray; width: 40px;"></td>
                </tr>
                <tr>
                  <td>Mud Color</td><td style="border:solid 1px #e2df7f; width: 40px;background-color: #e2df7f;"></td>
                </tr>
                <tr>
                  <td>Light Brown</td><td style="border:solid 1px #db9d32; width: 40px;background-color: #db9d32;"></td>
                </tr>
                <tr>
                  <td>Exposed Stone Masonry</td><td style=" width: 40px;background-image: url('https://i.pinimg.com/originals/88/ea/65/88ea65a30f3b2d088af1e6e3753e6fd7.jpg');"></td>
                </tr>
              </table>

              <mat-form-field class="justifier">
                <mat-label>Building Color Code Compliance</mat-label>
                <mat-select name="buildingColor" formControlName="buildingColorControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let option of yesNo2" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
         
              
              <mat-form-field class="justifier">
                <mat-label>Parking</mat-label>
                <input matInput type="number" name="buildingRemarks" formControlName="parkingControl"   [readonly]="disableForm" autofocus>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Residential Units</mat-label>
                <input matInput type="text" name="buildingRemarks" formControlName="residentialUnitControl"   [readonly]="disableForm" autofocus>
              </mat-form-field>
              <mat-form-field class="justifier">
                <mat-label>Commercial Units</mat-label>
                <input matInput type="text" name="buildingRemarks" formControlName="commercialUnitControl"   [readonly]="disableForm" autofocus>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Office Units</mat-label>
                <input matInput type="text" name="buildingRemarks" formControlName="officeUnitControl"   [readonly]="disableForm" autofocus>
              </mat-form-field>

              <mat-form-field class="justifier">
                <mat-label>Remarks</mat-label>
                <input matInput type="text" name="buildingRemarks" formControlName="buildingRemarksControl"   [readonly]="disableForm" autofocus>
              </mat-form-field>
        
            </form>
            <!-- End of Multi unit Form-->
      </div>
      <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="updateBuilding()">
          <mat-icon>note_add</mat-icon> Submit
        </button>
      </div>
      <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="back()">
          <mat-icon>map</mat-icon> Back to Map
        </button>
      </div>
    </div>
  </div>


  