<div class="image">
  <div class="form-wraper">
    <div class="form-container card">
      <div class="form-header">
        <img src="../../assets/app-logo.png"  class="main-lock-icon" alt="">
      </div>
      <div class="form-body">
        <form [formGroup]="loginForm">
          <mat-form-field class="justifier">
            <input matInput type="text" placeholder="Username" class="form-input" name="userName" formControlName="userName"  required autofocus>
         
          </mat-form-field>
          <mat-form-field class="justifier">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" class="form-input" name="password" formControlName="password"  required>
      
          </mat-form-field>
        </form>
      </div>
      <div class="form-footer">
          <button mat-raised-button class="btn custom-btn" (click)="login()" color="accent" [disabled]="!loginForm.valid"><mat-icon>input</mat-icon> Login</button>
      </div>
    </div>
  </div>
  <footer>
    <p>© Compliance & Development Review Division, MoWHS @2020</p>
  </footer>
  
</div>
