#map{
    height: 100vh;
    width: 50%;
    position: fixed;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.precicnt-info{
    float: right;
    width: 50%;
    overflow-y: auto;
    height:2000px
}
.description{
    text-align: justify;
    overflow: hidden;
    margin: 2rem;
    font-weight: lighter;
}

.basic-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: normal;
}
.info-card{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: right;
}

.card-number{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: bolder;   
}

.feedback{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 5rem;
}