


<section class="introdution">
    <div class="precicnt-info">
      
        <div id="chart">
        </div>
     
    
        <div class="basic-info">
            

            <div id="chart2">
            </div>
            <mat-card class="info-card">
                <mat-card-header>
                  <mat-card-title>Total Land Area</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h1 class="card-number">
                        {{totalLandArea}}
                    </h1>
                </mat-card-content>
                 
              </mat-card>
                  
              <mat-card class="info-card">
                <mat-card-header>
                  <mat-card-title>Total Plots</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <h1  class="card-number">
                    {{totalPlots}}
                </h1>
                </mat-card-content>
                 
              </mat-card>

           


        </div>

    </div>

    <div id="map">

    </div>
</section>

<section class="precinct">

</section>

<!-- <section class="outro">
    <div class="feedback">
        <h4>
            Feedback Section
        </h4>

        <form [formGroup]="feedbackForm">
        <mat-form-field appearance="none">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="none">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Comments</mat-label>
            <textarea matInput
                      formControlName="feedbacks"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="25"></textarea>
          </mat-form-field>


        <button mat-button (click)="submitFeedback()">
            Submit Feedback
        </button>
        </form>
    </div>
</section> -->

