section{
    height: 100%;
}

#map, #map2{
    height: 90vh;
    width: 50%;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.precicnt-info{
    float: right;
    width: 50%;
    overflow-y: auto;
    height:2000px
}
.description{
    text-align: justify;
    overflow: hidden;
    margin: 2rem;
    font-weight: lighter;
}

.basic-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: normal;
}
.info-card{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: right;
}

.card-number{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: bolder;   
}

.feedback{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 5rem;
}


#chart {
    max-width: 650px;
    margin: 35px auto;
  }



.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
}
.custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
}
.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}
  