html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  section {
    height: 100vh; 
    height: 100vh;
    margin-bottom: 3%;
    scroll-snap-align: center;
  }



.introdution{
    height:100% ;
    overflow-y: hidden;
    flex-direction: column;
}
.introdution p{
    text-align: center;
    font-size: larger;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.intro-divison{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.intro-divison div{
    display: flex;
    flex-direction: column;
    font-size: larger;
}

//lap details sectoin
.lap-details{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.lap-details div{
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}
.lap-details #map{
    width: 50%;
}
.lap-details .info{
    width: 50%;
}

.info p{
    text-align: justify;
    font-size: larger;
    font-weight: lighter;
}

.info p strong{
    font-size: xx-large;
}

.info h3{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
}

.info h3 p{
    padding: 0;
    margin: 0;
    font-size: 50px;
    color:#f3bd11;
    font-weight: bolder;
}






















#map, #developmentStatusMap{
    height: 90vh;
    width: 50%;
}


.title{
    text-align: center;
    position:fixed; /* Sit on top of the page content */
    top: 70%;
    left: 50%;
    font-size: 50px;
    color:rgba(250,231,162);
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

img-comparison-slider{
    height: 85vh;
    border: none;
}

