 

<div class="form-wraper" style="text-align:left" style="margin: 3px;">
 
  
  <div class="form-wraper" style="text-align:center">
    <h3>Add Feature Details</h3>
    <div class="form-container card" >
      <div class="form-body">
            <!-- Start of Multi unit Form-->  
            <form [formGroup]="updateFeatureForm">
              <mat-form-field class="justifier">
                <mat-label>Type</mat-label>
                <mat-select name="developmentStatus" formControlName="typeControl" required [readonly]="disableForm" >
                  <mat-option *ngFor="let type of types" [value]="type.name">
                    {{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field class="justifier">
                <mat-label>Remarks</mat-label>
                <input matInput type="text" name="plotRemarks" formControlName="remarksControl"     [readonly]="disableForm" autofocus>
              </mat-form-field>
            </form>
            <!-- End of Multi unit Form-->
      </div>
      <div class="form-footer">
        <button mat-raised-button class="btn custom-btn"  (click)="addFeature()" [disabled]="!updateFeatureForm.valid">
          <mat-icon>note_add</mat-icon> Submit
        </button>
        <br>
        <br>
        <button mat-raised-button class="btn custom-btn"  (click)="end()" [disabled]="!updateFeatureForm.valid">
            <mat-icon>map</mat-icon>Back to Map
          </button>
      </div>
    </div>
  </div>
  